---
import Base from "../layouts/Base.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import Workstreams from "../components/Workstreams.astro";
import Themes from "../components/Themes.astro";
import Pricing from "../components/Pricing.astro";
import Faq from "../components/Faq.astro";
import Footer from "../components/Footer.astro";
---

<Base>
  <Nav />
  <main>
    <Hero />
    <Features />
    <Workstreams />
    <Themes />
    <Pricing />
    <Faq />
  </main>
  <Footer />
</Base>
